@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply mb-20 scroll-smooth bg-primaryBackground text-primaryText;
}

@keyframes example {
  0% {
    border-radius: 40% 60% 49% 51% / 65% 58% 42% 35%;
  }
  25% {
    border-radius: 55% 45% 64% 36% / 47% 63% 37% 53%;
  }
  50% {
    border-radius: 67% 33% 68% 32% / 31% 74% 26% 69%;
  }
  75% {
    border-radius: 42% 58% 51% 49% / 43% 58% 42% 57%;
  }
  100% {
    border-radius: 40% 60% 49% 51% / 65% 58% 42% 35%;
  }
}

.fancyBorder {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

*,
html,
body,
html:focus-within {
  scroll-behavior: smooth;
}

.stroke-text {
  text-transform: uppercase;
  font-size: clamp(1rem, 2rem + 12vw, 300px);
  text-align: center;
  -webkit-text-stroke: 1.5px #fff;
  -webkit-text-fill-color: #010b13;
  opacity: 0.25;
  user-select: none;
}

@keyframes movingElement {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(25%, 25%);
  }
  50% {
    transform: translate(0%, 50%);
  }
  75% {
    transform: translate(-25%, 25%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.moving-items {
  animation-name: movingElement;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes movingElement2 {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(15%, 15%);
  }
  50% {
    transform: translate(60%, -50%);
  }
  75% {
    transform: translate(45%, 15%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.moving-items2 {
  animation-name: movingElement2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes movingElement3 {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-15%, 15%);
  }
  50% {
    transform: translate(0%, -50%);
  }
  75% {
    transform: translate(5%, 15%);
  }
  100% {
    transform: translate(10%, 0%);
  }
}
.moving-items3 {
  animation-name: movingElement3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes movingElement4 {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-15%, -12%);
  }
  50% {
    transform: translate(0%, -50%);
  }
  75% {
    transform: translate(52%, -15%);
  }
  100% {
    transform: translate(10%, 0%);
  }
}
.moving-items4 {
  animation-name: movingElement4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
